@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', cursive;
    font-weight: 400;
    font-size: 14px;

}

body * {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

.gold {
    color: #E3B873;
}

.white {
    color: #fff;
}

.yeseva {
    font-family: 'Yeseva One';
}

/* header */

header {
    background-color: black;
    font-size: 12.5px;
    justify-content: space-between;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    max-width: 1256px;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
}

.header___nav__container {
    max-width: 581px;
    width: 100%;
}

.header_navbar {
    display: flex;
    list-style: none;
    max-width: 581px;
    width: 100%;
    justify-content: space-between;
}

.header_navbar>li>a {
    text-decoration: none;
    color: white;
}

.header_navbar>li>a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.header_companyphone, .header_companyname {
    margin: 0 10px;
}

.header_button {
    text-transform: uppercase;
    padding: 13px 33px;
    background: #E3B873;
    color: #fff;
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    font-family: 'Nunito Sans';
    margin-right: 10px;
}

.header_button2 {
    text-transform: uppercase;
    padding: 13px 33px;
    background: #E3B873;
    color: #fff;
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    font-family: 'Nunito Sans';
    margin-top: 20px;
    margin-left: auto;
}

.header_button3 {
    text-transform: uppercase;
    padding: 10px 75px;
    background: #E3B873;
    color: #fff;
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    font-family: 'Nunito Sans';
}

.header_button4 {
    text-transform: uppercase;
    padding: 10px 75px;
    background: #E3B873;
    color: #fff;
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    font-family: 'Nunito Sans';
    text-align: center;
}

.button__end {
    display: flex;
    margin-left: auto;
}

/* header */

/* First section */

.section-one {
    background-image: url(../img/flat.png);
    background-size: cover;
    height: 707px;
    scroll-behavior: smooth;
}

.toner {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 707px;
}

.flat {
    padding-top: 194px;
    max-width: 1256px;
    margin: 0 auto;
}

.turnkey_repair {
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.turnkey_repair_text {
    font-size: 22px;
    line-height: 36px;
}

.gold_button {
    padding: 20px 42px;
    background: #E3B873;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    font-family: 'Nunito Sans';
    font-size: 11px;
    margin: 40px 20px 0 0;
}

.transparent_button {
    padding: 20px 42px;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    border-radius: 2px;
    border: 1px solid white;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
    font-size: 11px;
    margin-top: 40px;
}

/* First section */


/* Second Section */

.section-two {
    padding-bottom: 400px;
    background-color: #131313;
}

.content_wrapper {
    max-width: 1256px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 43% 57%;
    max-width: 1256px;

}

.completed_projects {
    margin-top: 107px;
    margin-right: 50px;
}

.completed_projects_text {
    font-family: Yeseva One;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.presented_works {
    font-size: 14px;
    line-height: 27px;
}


.completed_projects_city {
    margin-top: 107px;
}

.completed_projects_city>ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.completed_projects_city>ul>li>a {
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: Yeseva One;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

.completed_projects_city>ul>li>a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.slider__panel {
    align-items: flex-end;
}

.specification_param>h3 {
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 9px;
}

.specification_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 42px;
}

.gap {
    margin-bottom: 55px;
    font-size: 13px;
    line-height: 21px;

}

.completed_projects_examples {
    margin-top: 52px;
}

/* Second Section */


/* Third Section */

.center {
    text-align: center;
}

.section-three {
    max-width: 1256px;
    margin: 0 auto;
    margin-top: -300px;
    /* text-align: center; */
}

.form_column {
    max-width: 230px;
    width: 100%;
}

.form__row {
    display: flex;
    justify-content: space-between;
    max-width: 817px;
    margin: 0 auto;
}

.form__row2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}


.from__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.form__input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    max-width: 230px;
    width: 100%;
}

.from__text2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.form__input2 {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-color: #131313;
    color: #fff;
    width: 100%;
    padding-bottom: 5px;
}

.form__input2::-webkit-input-placeholder {
    color: #fff;
}

.form__input2:last-child {
    margin-bottom: 16px;
}

.online__camera__form {
    margin: 0 auto;
    margin-top: 90px;
}

.checkbox__text {
    margin-left: 9px;
}

.camera {
    margin: 20px 0 0;
}

.horiz__lane {
    margin-top: 62px;
    width: 55px;
    border: 1.5px solid #E3B873;
    background-color: #E3B873;
    border-radius: 30px;
    margin: 0 auto;
}

.online__camera__text {
    display: flex;
    max-width: 681px;
    margin: 0 auto;
}

.broadcast {
    margin-top: 35px;
    text-align: center;
    font-size: 18px;
    line-height: 37px;
}

.types__of__repair {
    margin: 0 auto;
    margin-top: 150px;
    max-width: 1256px;
}

.repair__icon {
    margin-bottom: 30px;
}

.repair__header {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.repair__header__text {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 13px;
}

.repair__examples {
    display: flex;
    justify-content: space-between;
}

.first__card {
    flex-direction: column;
}

.second__card {
    margin: 0 10px;
}

.card__content {
    margin: 0 auto;
    padding: 30px;
    margin-top: -100px;
    background: #fff;
    position: relative;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 40px -40px rgba(0, 0, 0, 0.78);

}

.card__img {
    border-radius: 2px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.card__content__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 13px;
}

.card__content__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.card__button {
    text-transform: uppercase;
    padding: 13px 33px;
    background: #E3B873;
    color: #fff;
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    font-family: 'Nunito Sans';
    margin-top: 20px;
}

.request__form__section {
    background: url('../img/advantage_img.png');
    background-repeat: no-repeat;

}

.advantage__list__main {
    display: flex;
    margin: 0 auto;
    padding-top: 120px;
    justify-content: space-between;
    max-width: 1256px;
}

.advantage__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
}

.advantage {
    display: flex;
    align-items: center;
}

.request__form {
    width: 40%;
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* text-align: center; */
    padding: 0 49px;
    min-height: 500px;
}

.request__form__header {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
}

.request__form__element {
    margin-bottom: 30px;
}

.pig__baner {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    display: flex;
    margin-top: 40px;
    color: #E3B873;
    justify-content: end;
    align-items: center;
    max-width: 1250px;
}

/* Third Section */

/* Forth Section */
.forth__section {
    background-image: url(../img/fantasies.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 240px;
    margin-bottom: 110px;
}

.forth__section__wrapper {
    display: flex;
    max-width: 1256px;
    margin-left: 18px;
    margin: 0 auto;
}

.style__list {
    padding-top: 137px;
    color: #fff;
    width: 40%;
}

.style__list>ul>li {
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 10px;
}

.style__list>ul>li>a {
    text-decoration: none;
    color: #fff;

}

.style__list>ul>li>a:hover {
    text-decoration: underline;
    color: #E3B873;
}

.style__list__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 47px;
}

.grid__wrapper {
    display: grid;
    grid-template-areas:
        "a b"
        "a b"
        "a d"
        "c d"
        "c d";
    row-gap: 1rem;
    column-gap: 1rem;
}

.grid__item1 {
    grid-area: a;
    margin-top: -40px;
}

.grid__item2 {
    grid-area: c;
}

.grid__item3 {
    grid-area: b;
    margin-top: -120px;
}

.grid__item4 {
    grid-area: d;
}

/* Forth Section */

/* Fifth Section */
.fifth__section__back {
    background-image: url(../img/back_img.png);
    opacity: 0.1;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
    height: 380px;
}

.fifth__section__wrapper {
    max-width: 1256px;
    margin: 0 auto;
}

.our__clients__header {
    text-align: center;
}

.our__clients__header__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.handhsake_img {
    margin: 16px 0 27px;
}

.our__clients__header__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin-bottom: 40px;
}

.our__clients__reviews {
    display: flex;
}

.our__client__name {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    padding-left: 10px;
    min-width: 170px;
}

.review__card {
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    padding: 24px 20px 0px;
}

.review__card:nth-child(2) {
    margin: 0 55px;
}

.client__face {
    border-radius: 50%;
}

.our__client__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    margin-top: 15px;
}

.flat__desc {
    position: relative;
    left: -10%;
    top: 13.5%;
}

/* Fifth Section */

/*  */
.sixth__section {
    background-image: url(../img/map_back.png);
    background-size: cover;
    position: relative;
}

.sixth__section::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}

.content__wrapper {
    max-width: 1256px;
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map__form {
    width: 100%;
    max-width: 883px;
    margin: 0 auto;
    background-color: #131313;
    position: relative;
    margin-top: -220px;
}

.question__form {
    max-width: 520px;
    margin: 0 auto;
}

.map__form__header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 45px;
    padding-top: 35px;
}

.map__form__element0 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
}

.map__form__element {
    flex-direction: column;
}

.map__form__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.map__form__input {
    border: none;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    background-color: #131313;
    width: 100%;
    padding-bottom: 5px;
}

.map__form__input::-webkit-input-placeholder {
    color: #fff;
}

.map__form__element1 {
    margin-bottom: 50px;
}

.map__form__element2 {
    text-align: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.map__form__element3 {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 35px;
}

.office__locartion__address {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    text-align: center;
    margin-top: 50px;
}

.media__icons {
    margin-top: 25px;
    margin-bottom: 40px;
}

footer {
    background-color: black;
    display: flex;
    font-size: 12.5px;
}

.completed_projects_examples_phone {
    margin-top: 36px;
    width: 340px;
}

.gold_button2 {
    font-size: 13px;
    width: 100%;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px;
    background: #E3B873;
    border-radius: 2px;
    border: 1px solid #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    font-family: 'Nunito Sans';
}

@media screen and (min-width: 621px) {
    .completed_projects_examples_phone, .header_button4__wrapper, .grid__item1_small, .office__location__map_small {
        display: none;
    }
}

@media screen and (max-width: 620px) {

    .header___nav__container, .header_button_wrapper, .completed_projects_city, .slider__panel,
    .completed_projects_examples, .header_button3, .request__form__section, .grid__item2,
    .grid__item3, .grid__item4, .style__list>ul, .fifth__section__wrapper, .fifth__section__back, .grid__item1, .footer__nav, .office__location__map {
        display: none;
    }

    html {
        margin: 0;
        padding: 0;
    }

    .header_company_phone {
        text-align: end;
    }

    .header_companyphone {
        color: #fff;
    }

    .flat {
        max-width: 360px;
        padding-top: 85px;
        margin: 0 auto;
    }

    .section-one {
        background-image: url(../img/small_flat.png);
    }

    .toner, .section-one {
        height: 476px;
    }

    .turnkey_repair {
        font-size: 23px;
        line-height: 132.83%;
    }

    .turnkey_repair_text {
        font-size: 14px;
        line-height: 135.84%;
    }

    .button_box {
        max-width: 360px;
    }

    .gold_button, .transparent_button {
        width: 100%;
    }

    .content_wrapper {
        max-width: 360px;
        text-align: center;
    }

    .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .completed_projects {
        margin: 36px 0 0 0;
    }

    .presented_works {
        font-size: 11px;
        line-height: 158.48%;
    }

    .specification_param>p {
        font-size: 11px;
        line-height: 135.84%;
    }

    .specification_param>h3 {
        font-size: 14px;
        line-height: 138.6%;
    }

    .section-two {
        padding-bottom: 300px;
    }

    .section-three, .section-two {
        background-color: #181818;
    }

    .section-three {
        padding: 0 10px;
    }

    .center {
        max-width: 360px;
        margin: 0 auto;
    }

    .online__camera__text {
        max-width: 360px;
    }

    .broadcast {
        font-size: 11px;
        line-height: 169.8%;
        color: #fff;
    }

    .online__camera__form {
        max-width: 360px;
        margin-top: 45px;
    }

    .form__row {
        flex-direction: column;
        background-color: #181818;
    }

    .from__text {
        color: rgba(255, 255, 255, 0.5);
    }

    .form__input {
        color: #fff;
        background-color: #181818;
        border-bottom: 1px solid rgba(54, 54, 54, 0.5);
        width: 340px;
    }

    .form__input::-webkit-input-placeholder {
        color: #fff;
    }

    .form_column:nth-child(2) {
        margin: 60px 0 30px;
    }

    .checkbox__text {
        color: #fff;
        margin-bottom: 60px;
    }

    .header_button4 {
        margin: 0 auto;
    }

    .form__row2 {
        justify-content: flex-start;
    }

    .header_button4__wrapper {
        display: flex;
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .types__of__repair {
        margin-top: 60px;
    }

    .repair__examples {
        flex-direction: column;
        max-width: 360px;
        margin: 0 auto;
    }

    .card__content {
        margin: 0;
        margin-top: -145px;
    }

    .forth__section {
        background: #131313;
    }

    .forth__section__wrapper {
        flex-direction: column;
        max-width: 360px;
        align-items: center;
    }

    .card__content__text {
        font-size: 13px;
        line-height: 169.8%;
        color: #959595;
    }

    .style__list__header {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        text-transform: uppercase;

        color: #E3B873;
    }

    .style__list {
        margin-top: -300px;
        max-width: 360px;
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }

    .map__form__element0 {
        flex-direction: column;
    }

    .map__form__element:nth-child(2) {
        margin: 60px 0 0;
    }

    .question__form {
        max-width: 360px;
    }

    .office__location__map_small, .office__location {
        margin: 0 auto;
    }

    .office__location {
        max-width: 360px;
        font-size: 18px;
        line-height: 138.6%;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
    }

    .office__location__map_small {
        margin-top: 30px;
    }

    .sixth__section {
        background-image: none;
        background-color: #131313;
    }

    .sixth__section::before {
        background-color: #131313;
    }
}